<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>New Account</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container jumbotron">
      <h3>Please fill the following details:</h3>
      <br />
      <form class="form-group" action="signIn.html" method="post">
        <div class="row">
          <div class="col-sm-2 col-form-label">
            <label for="fname">First Name:</label>
          </div>
          <div class="col-sm-4">
            <input
              class="form-control"
              id="fname"
              type="text"
              name=""
              value=""
              required
            />
          </div>

          <div class="col-sm-2 col-form-label">
            <label for="lname">Last Name:</label>
          </div>
          <div class="col-sm-4">
            <input
              class="form-control"
              id="lname"
              type="text"
              name=""
              value=""
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-form-label">
            <label for="email">Email: </label>
          </div>
          <div class="col-sm-10">
            <input
              id="email"
              type="email"
              class="form-control"
              name=""
              value=""
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-form-label">
            <label for="password1">Password: </label>
          </div>
          <div class="col-sm-4">
            <input
              id="password1"
              type="password"
              class="form-control"
              value=""
              required
            />
          </div>
          <div class="col-sm-2 col-form-label">
            <label for="password2">Confirm Password: </label>
          </div>
          <div class="col-sm-4">
            <input
              id="password2"
              type="password"
              class="form-control"
              value=""
              required
            />
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-sm-6">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
          <div class="col-sm-6 text-right">
            <a href="signIn.html">Back to Login Page</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
